body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: beige;
}

#movie{
    max-width: 200px;
}

#movieInfo{
    max-width: 600px;
}

#genreContainer {
    margin-top: 20px;
}

#genreSelect {
    margin-right: 10px;
}
